.cls-1,
.cls-2,
.cls-3 {
  fill: none;
  stroke: #231f20;
  stroke-linecap: round;
}

.cls-1,
.cls-3 {
  stroke-miterlimit: 10;
}

.cls-2 {
  stroke-linejoin: round;
}

.cls-3 {
  stroke-width: 0.5px;
}