.background-image {
  position: absolute;
  height: 100%;
  object-fit: cover;
  inset: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
}

#root {
  overflow-x: hidden;
}


body[dir='ltr'] {
  .background-image {
    transform: scaleX(-1);
  }
}

@media (min-width: 769px) {
  .sidebar-active {
    width: calc(100% - 130px);
  }

  body[dir='rtl'] .sidebar-active {
    transform: translateX(-130px);
  }

  body[dir='ltr'] .sidebar-active {
    transform: translateX(130px);
  }

  body[dir='ltr'] :is(section, footer) {
    transform: translateX(70px);
  }

  body[dir='rtl'] :is(section, footer) {
    transform: translateX(-70px);
  }

  section,
  footer {
    width: calc(100% - 70px);
  }
}

.section-title {
  position: relative;
  align-self: flex-start;
  width: max-content;
  color: var(--clr-dark);

  &::after,
  &::before {
    content: '';
    position: absolute;
    background-color: var(--clr-bg);
  }

  &::after {
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    border-radius: 100px;
  }
}