* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nikar';
  src: url('./assets/fonts/neckar-regular.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nikar';
  src: url('./assets/fonts/neckar-bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Khodija';
  src: url('./assets/fonts/Khodija.ttf');
}

:root {
  --ff: 'Titillium Web', sans-serif;
  --ff-arabic: 'Nikar', Fallback, sans-serif;
  --ff-logo: 'Khodija', Fallback, sans-serif;

  --clr-white: #fff;
  --clr-black: #000;

  --clr-transparent-light: #ffffff4b;
  --clr-transparent-dark: #0000004b;

  --clr-light: #f0f0f0;
  --clr-dark: #151515;

  --clr-accent: #2F1CB0;
  --clr-accentHover: #432BDE;
  /* --clr-accentDark: #9a8dff;
  --clr-accentDarkHover: #b5abff; */
  --clr-outlinedHover: #DEDEDE;

  --clr-bg: #e8e8e8;
  --clr-grey: #4e4e4e;
}

.dark-root {
  --clr-bg: #03161B;
  --clr-grey: #c8c8c8;

  --clr-black: #fff;
  --clr-white: #000;

  --clr-transparent-dark: #ffffff4b;
  --clr-transparent-light: #0000004b;

  --clr-dark: #f0f0f0;
  --clr-light: #151515;

  --clr-accent: #7662FE;
}

body[dir='ltr'],
body[dir='ltr'] button,
body[dir='ltr'] a,
body[dir='ltr'] label,
body[dir='ltr'] input,
body[dir='ltr'] input::placeholder {
  font-family: var(--ff);
}

body[dir='rtl'],
body[dir='rtl'] button,
body[dir='rtl'] a,
body[dir='rtl'] label,
body[dir='rtl'] input,
body[dir='rtl'] input::placeholder {
  direction: rtl;
  font-family: var(--ff-arabic);
  text-align: right !important;
}

html,
body {
  height: 100%;
}

body,
header,
footer {
  background-color: var(--clr-bg);
  transition: background-color 200ms ease-in;
}

#root {
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

section,
footer {
  padding: 0 120px;
  transform: translateY(60px);
}

section {
  min-height: 100vh;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  line-height: 1;
  font-weight: 700;
}