* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nikar';
  src: url('./assets/fonts/neckar-regular.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nikar';
  src: url('./assets/fonts/neckar-bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Khodija';
  src: url('./assets/fonts/Khodija.ttf');
}

:root {
  --ff-english: 'Titillium Web', sans-serif;
  --ff-arabic: 'Nikar', Fallback, sans-serif;
  --ff-logo: 'Khodija', Fallback, sans-serif;

  --clr-light: #fff;
  --clr-dark: #000;
  --clr-grey: #33454d;
  --clr-light2: rgb(230, 230, 230);
  --clr-accent: #1C41B0;
  --clr-accentHover: #214ed4;
  --clr-outlinedHover: #d7d7df;

  --clr-bg: #e8e8e8;
  --clr-shadow: #00000033;
  --clr-transparent: rgba(255, 255, 255, .4);
}

.dark-root {
  --clr-dark: #fff;
  --clr-light: #000;
  --clr-grey: #cbd0d2;

  --clr-accent: #87b7f2;
  --clr-accentHover: #5e9fed;
  --clr-outlinedHover: #0A4652;

  --clr-bg: #041F25;
  --clr-shadow: #ffffff33;
  --clr-transparent: rgba(0, 0, 0, .4);
}

body[dir='ltr'] * {
  font-family: var(--ff-english);
}

body[dir='rtl'] * {
  direction: rtl !important;
  font-family: var(--ff-arabic);
}

html,
body {
  height: 100%;
}

body,
header,
footer {
  background-color: var(--clr-bg);
  transition: background-color 200ms ease-in;
}

#root {
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

header {
  padding: 20px 5px;
}

section,
footer,
.pl {
  padding-inline: 10px;
}

section {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  line-height: 1;
  font-weight: 700;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

@media (min-width: 426px) {
  h1 {
    font-size: 4.5rem;
  }

  section,
  footer,
  .pl {
    padding-inline: 50px;
  }
}

@media (min-width: 769px) {
  h1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.125rem;
  }

  section,
  footer,
  .pl {
    padding-inline: 80px;
  }
}

@media (min-width: 1200px) {

  section,
  footer,
  .pl {
    padding-inline: 120px;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: .75em;
}