.button {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  transition: all 300ms ease-in-out;
  color: var(--clr-light);
  display: grid;
  place-items: center;
  border-radius: 24px;

  // box-shadow: 0 10px  0 0 var(--clr-shadow);

  &:hover {
    border-color: var(--clr-shadow);

    &::after {
      background-color: var(--clr-accentHover);
      opacity: .8;
    }
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
  }

  &::after {
    top: 110%;
    width: 95%;
    height: 20%;
    border-radius: 100px;
    background-color: var(--clr-accent);
    opacity: .5;
    filter: blur(14px);
    transition: all 300ms ease-in-out;
  }
}

.button[data-color='light'] {
  background-color: var(--clr-accent);

  &:hover {
    background-color: var(--clr-accentHover);
  }
}

.button[data-color='dark'] {
  background-color: var(--clr-accentDark);

  &:hover {
    background-color: var(--clr-accentDarkHover);
  }
}

.button[data-color='outlined'] {
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
  background-color: transparent;

  &:hover {
    border-color: var(--clr-shadow);
  }
}

.button[data-size='xLarge'] {
  font-size: 26px;
  padding: .8em 1.8em;
}

.button[data-size='large'] {
  height: 60px;
  font-size: 20px;
  padding: 1em 1.8em;
}

.button[data-size='small'] {
  height: 46px;
  padding: .4em 1.1em;
  line-height: 25px;
}

.button-arabic {
  font-family: var(--ff-arabic) !important;
  padding-top: 10px !important;
}

.button-english {
  font-family: var(--ff-english) !important;
}