.button {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  transition: background-color 250ms ease,
    box-shadow 250ms ease-in-out,
    border-color 250ms ease-in-out;
  color: var(--clr-light);
  display: grid;
  place-items: center;
  border-radius: 12px;

  box-shadow: 4px 4px 0 0 var(--clr-shadow);

  &:hover {
    box-shadow: -4px -4px 0 0 var(--clr-shadow);
    border-color: var(--clr-shadow);
  }
}

.button[data-color='light'] {
  background-color: var(--clr-accent);

  &:hover {
    background-color: var(--clr-accentHover);
  }
}

.button[data-color='dark'] {
  background-color: var(--clr-accentDark);

  &:hover {
    background-color: var(--clr-accentDarkHover);
  }
}

.button[data-color='outlined'] {
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
  background-color: transparent;

  &:hover {
    border-color: var(--clr-shadow);
  }
}

.button[data-size='xLarge'] {
  font-size: 26px;
  padding: .8em 1.8em;
}

.button[data-size='large'] {
  height: 60px;
  font-size: 20px;
  padding: 1em 1.8em;
}

.button[data-size='small'] {
  height: 46px;
  padding: .4em 1.1em;
  line-height: 25px;
}

.button-arabic {
  font-family: var(--ff-arabic) !important;
  padding-top: 10px !important;
}

.button-english {
  font-family: var(--ff-english) !important;
}