.svg-clr {
  fill: none;
  stroke: var(--clr-dark);
  stroke-miterlimit: 1;
}

.static-vector {
  position: fixed;
  bottom: -30px;
  left: 0;
  transform: translate(-35px, 60px) rotate(3deg);
  max-width: 250px;
  width: 100%;

  path {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke-width: .4;
    stroke: var(--clr-dark);
    fill: none;
    transition: stroke-dashoffset 1s ease;
  }
}