.toggler-btn {
  border: 0;
  width: 30px;
  height: 60px;
  background: transparent;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.toggler {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 14px;
  background-color: var(--clr-dark);
  border: 2px solid var(--clr-bg);
  border-radius: 50%;
  transition: background-color 200ms ease-in-out;
}

.toggler-btn:hover .toggler {
  background-color: var(--clr-accent);
}

.toggle {
  position: absolute;
  width: 1.5px;
  height: 6px;
  background-color: var(--clr-dark);
  border-radius: 100px;
  transition: 200ms ease-in-out;
}

.toggler-light {
  position: relative;
  transform: scale(1.8);
  transition: 200ms ease-in-out;
}

.toggler-btn:hover .toggle {
  background-color: var(--clr-accent);
}

.toggler-light::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 1 / 1;
  width: 14px;
  background-color: var(--clr-bg);
  transform: translate(4px, -5px);
  border-radius: 50%;
}

/* sun */
.toggle:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 3px));
}

.toggle:nth-child(2) {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 3px);
}

.toggle:nth-child(3) {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 5.5px), -50%) rotate(-90deg);
}

.toggle:nth-child(4) {
  left: 100%;
  top: 50%;
  transform: translate(calc(100% + 4px), -50%) rotate(90deg);
}

.toggle:nth-child(5) {
  top: 0;
  left: 50%;
  transform: translate(-8.5px, -5.5px) rotate(-45deg);
}

.toggle:nth-child(6) {
  top: 0;
  left: 50%;
  transform: translate(7px, -5.5px) rotate(45deg);
}

.toggle:nth-child(7) {
  top: 0;
  left: 50%;
  transform: translate(-8.5px, 10px) rotate(45deg);
}

.toggle:nth-child(8) {
  top: 0;
  left: 50%;
  transform: translate(6.5px, 10px) rotate(-45deg);
}

/* moon */
.toggle-light:nth-child(1) {
  top: 0;
  left: 0;
  transform: translate(4px, 2px);
}

.toggle-light:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(4px, 2px);
}

.toggle-light:nth-child(3) {
  top: 0;
  left: 0;
  transform: translate(4px, 2px) rotate(-90deg);
}

.toggle-light:nth-child(4) {
  top: 0;
  left: 0;
  transform: translate(4px, 2px) rotate(90deg);
}

.toggle-light:nth-child(5) {
  top: 0;
  left: 0;
  transform: translate(4px, 2px) rotate(-45deg);
}

.toggle-light:nth-child(6) {
  top: 0;
  left: 0;
  transform: translate(4px, 2px) rotate(45deg);
}

.toggle-light:nth-child(7) {
  top: 0;
  left: 0;
  transform: translate(4px, 2px) rotate(45deg);
}

.toggle-light:nth-child(8) {
  top: 0;
  left: 0;
  transform: translate(4px, 2px) rotate(-45deg);
}