header {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  color: var(--clr-dark);
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
}

.logo-span {
  font-family: var(--ff-logo);
  position: relative;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item {
  position: relative;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  color: var(--clr-dark);
  display: grid;
  place-items: center;
  transition: color 200ms linear;
}

.nav-item:hover {
  color: var(--clr-accentHover);
}

.nav-item-active {
  color: var(--clr-accent);
}


.nav-item::after {
  content: '';
  position: absolute;
  top: calc(100% - 15px);
  width: 50%;
  height: 2px;
  background: linear-gradient(var(--clr-accentHover), var(--clr-accentHover));
  border-radius: 100px;
  transition: 300ms ease;
}

.nav-item::after {
  background-size: 0 0;
  background-repeat: repeat-y;
}

body[dir='ltr'] .nav-item::after {
  background-position: 0 100%;
}

body[dir='rtl'] .nav-item::after {
  background-position: 100% 0;
}

.nav-item:hover.nav-item::after,
.nav-item-active::after {
  background-size: 100% 100%;
}

body[dir='ltr'] .nav-item.nav-item::after,
body[dir='ltr'] .nav-item-active::after {
  left: 2px;
}

body[dir='rtl'] .nav-item.nav-item::after,
body[dir='rtl'] .nav-item-active::after {
  right: 2px;
}

.buttons-header {
  display: flex;
  align-items: center;
  gap: 20px;
}