.home {
  position: relative;

  display: flex;
  align-items: center;
  gap: 4em;
}

.home-hero {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.home-overline {
  font-weight: 600;
  font-size: 2rem;
  color: var(--clr-grey);
}

.home-heading {
  margin-bottom: 2em;
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
}

.home-title {
  display: inline;
  color: var(--clr-dark);
}

.home-subtitle {
  color: var(--clr-grey);
}

.home-buttons {
  margin-top: 2em;
  display: flex;
  align-items: center;
  gap: 1em;

  p {
    color: var(--clr-dark);
    font-size: 16px;
  }
}

/* heading underline */
.home-heading svg {
  position: absolute;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}

body[dir='rtl'] .home-heading svg {
  width: 50%;
  left: 0;
}

body[dir='ltr'] .home-heading svg {
  width: 65%;
  right: 0;
  transform: translateY(100%);
}

/* mission action */
.mission-action {
  position: relative;
}

.mission-action svg {
  position: absolute;
  top: 50%;
  width: 100px;
}

body[dir='rtl'] .mission-action svg {
  left: 0;
  transform: translate(-100%, 10%) rotate(-25deg);
}

body[dir='ltr'] .mission-action svg {
  right: 0;
  transform: translate(100%, 10%) rotate(25deg) scaleX(-1);
}

/* hero img */

.hero-img {
  position: absolute;
  left: 0;
  transform: scaleX(-1);
  width: 1000px;
  filter: contrast(100%) brightness(100%);
}