.home {
  position: relative;

  display: flex;
  align-items: center;
  gap: 4em;
}

.home-hero {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.home-overline {
  font-weight: 600;
  font-size: 2rem;
  color: var(--clr-grey);
  /* opacity: .7; */
}

.home-title {
  font-size: 6.5rem;
  color: var(--clr-dark);
}

.home-subtitle {
  font-size: 3.5rem;
  color: var(--clr-grey);
}

.home-buttons {
  display: flex;
  align-items: center;
  gap: 3em;
}

.home-about {
  position: relative;
  padding: 2em;
  max-width: 600px;
  width: 100%;
  color: var(--clr-grey);
  font-size: 1.125rem;
  line-height: 2em;
  border-radius: 1em 2em;
  background-color: var(--clr-shadow);
  border: 1px solid var(--clr-grey);
}

body[dir='ltr'] .home-about::before {
  left: -10px;
}

body[dir='rtl'] .home-about::before {
  right: -10px;
}

body[dir='rtl'] .home-about {
  font-size: 1.25rem;
}

body[dir='ltr'] .home-about {
  border-radius: 2em 1em;
}

body[dir='rtl'] .home-about {
  border-radius: 1em 2em;
}