#portfolio {
  padding: 6em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--clr-dark);
}

.project {
  padding: 14em 0;
  background: linear-gradient(to bottom, transparent, var(--clr-transparent));
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5em;

  mask:
    url('../assets/images/wave-2.svg') bottom/contain no-repeat,
    linear-gradient(#fff 0 0);
  mask-composite: destination-out;
  -webkit-mask:
    url('../assets/images/wave-2.svg') bottom/contain no-repeat,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;

  .project-desc {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .tech-logos {
      display: flex;
      align-items: center;
      gap: .6em;

      svg {
        path {
          fill: var(--clr-grey);
          transition: fill 300ms ease-in-out;
        }

        &:hover {
          path {
            fill: var(--clr-accentHover);
          }
        }
      }
    }
  }
}

.first-project {
  padding-top: 12em;
}

// .project:nth-child(odd) {
//   .mobile-card {
//     right: -20%;
//   }
// }

// .project:nth-child(even) {
//   .mobile-card {
//     left: -20%;
//   }
// }

.project+.project {
  padding-top: 6em;
}

.project-desc,
.project-cards {
  transition: opacity 300ms ease-in-out,
    transform 300ms ease-in-out;
}

.project-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.card {
  position: relative;
  max-width: 500px;
  width: 100%;
  border-radius: 12px;

  // transform: perspective(8000px) rotateX(20deg) rotateY(-20deg);
  transform-style: preserve-3d;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after,
  &::before {
    content: '';
    position: absolute;
    border-radius: inherit;
  }

  &::before {
    inset: 1em;
    background-color: #000;
    transform: translateZ(-29px);
    filter: blur(15px);
    opacity: .5;
  }

  &::after {
    inset: -1em;
    background-color: #fff;
    transform: translateZ(-30px);
    box-shadow:
      1px 1px 0 0 rgb(30, 30, 30),
      2px 2px 0 0 rgb(35, 35, 35),
      3px 3px 0 0 rgb(40, 40, 40),
      4px 4px 0 0 rgb(45, 45, 45),
      5px 5px 0 0 rgb(50, 50, 50),
      6px 6px 0 0 rgb(55, 55, 55),
      6px 6px 5px 0 rgb(20, 20, 20);
  }
}

.slider-wrapper {
  overflow-x: hidden;
  width: 100%;
  border-radius: inherit;
}

.slider {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(100, minmax(500px, 100px));
  border-radius: inherit;

  .portfolio-img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: top;

    box-shadow:
      1px 1px 0 0 rgb(30, 30, 30),
      2px 2px 0 0 rgb(35, 35, 35),
      3px 3px 0 0 rgb(40, 40, 40),
      4px 4px 0 0 rgb(45, 45, 45),
      5px 5px 0 0 rgb(50, 50, 50),
      6px 6px 0 0 rgb(55, 55, 55),
      6px 6px 5px 0 rgb(20, 20, 20);
  }
}

.mobile-card {
  position: absolute;
  top: 20%;
  max-width: 140px;
  height: 250px;

  .slider {
    grid-template-columns: repeat(100, minmax(140px, 100px));
    grid-template-rows: 250px;
  }
}

.enter-content {
  transform: translateX(0);
  opacity: 1;
}

.project {
  .hide-left {
    transform: translateX(200px);
    opacity: 0;
  }

  .hide-right {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.project {
  .hide-left {
    transform: translateX(-200px);
    opacity: 0;
  }

  .hide-right {
    transform: translateX(200px);
    opacity: 0;
  }
}