#portfolio {
  padding: 6em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--clr-dark);
}

.project {
  padding: 14em 0;
  background: linear-gradient(to bottom, transparent, var(--clr-transparent));
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5em;

  mask:
    url('../assets/images/wave-2.svg') bottom/contain no-repeat,
    linear-gradient(#fff 0 0);
  mask-composite: destination-out;
  -webkit-mask:
    url('../assets/images/wave-2.svg') bottom/contain no-repeat,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
}

.project-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.tech-logos {
  display: flex;
  align-items: center;
  gap: .6em;

  svg {
    path {
      fill: var(--clr-grey);
      transition: fill 300ms ease-in-out;
    }

    &:hover path {
      fill: var(--clr-accentHover);
    }
  }
}

.first-project {
  padding-top: 12em;
}

.project+.project {
  padding-top: 6em;
}

.project-desc,
.project-cards {
  transition: opacity 300ms ease-in-out,
    transform 300ms ease-in-out;
}

// cards
.project-cards {
  margin-inline: 2em;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// single card
.card {
  position: relative;
  max-width: 500px;
  max-height: 300px;
  width: 100%;
  height: 100%;

  border-radius: 12px;

  transform-style: preserve-3d;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after,
  &::before {
    content: '';
    position: absolute;
    border-radius: inherit;
  }

  &::before {
    inset: 1em;
    background-color: #000;
    transform: translateZ(-19px);
    filter: blur(14px);
    opacity: .5;
  }

  &::after {
    inset: -1em;
    background-color: #fff;
    transform: translateZ(-20px);
  }
}

// slider wrapper for every card
.slider-wrapper {
  overflow-x: hidden;
  width: 100%;
  border-radius: inherit;
}

// the actual slider
.portfolio-img {
  max-width: 500px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: top;
  background-color: var(--clr-light);
}

// mobile cards sizes
.mobile-card {
  max-width: 140px;
  aspect-ratio: 3 / 5;

  .portfolio-img {
    max-width: 140px;
    aspect-ratio: 3 / 5;
  }
}

// media ipad / desktop
@media (min-width: 769px) {
  .portfolio-img {
    width: 400px;
  }

  .project-cards {
    flex-direction: row;
  }
}

@media (min-width: 1100px) {
  .portfolio-img {
    width: 500px;
  }
}

// 3d shadow for cards
body[dir='ltr'] {
  .card {
    transform: perspective(5000px) rotateX(18deg) rotateY(-10deg);

    &::after {
      box-shadow:
        1px 1px 0 0 rgb(30, 30, 30),
        2px 2px 0 0 rgb(35, 35, 35),
        3px 3px 0 0 rgb(40, 40, 40),
        4px 4px 0 0 rgb(45, 45, 45),
        5px 5px 0 0 rgb(50, 50, 50),
        6px 6px 0 0 rgb(55, 55, 55),
        0 0 2px 0 rgb(10, 10, 10),
        6px 6px 5px 0 rgb(10, 10, 10);
    }
  }

  .mobile-card {
    transform: perspective(5000px) rotateX(12deg) rotateY(-24deg);
  }
}

body[dir='rtl'] {
  .card {
    transform: perspective(5000px) rotateX(18deg) rotateY(10deg);

    &::after {
      box-shadow:
        -1px 1px 0 0 rgb(30, 30, 30),
        -2px 2px 0 0 rgb(35, 35, 35),
        -3px 3px 0 0 rgb(40, 40, 40),
        -4px 4px 0 0 rgb(45, 45, 45),
        -5px 5px 0 0 rgb(50, 50, 50),
        -6px 6px 0 0 rgb(55, 55, 55),
        0 0 2px 0 rgb(10, 10, 10),
        -6px 6px 5px 0 rgb(10, 10, 10);
    }
  }

  .mobile-card {
    transform: perspective(5000px) rotateX(12deg) rotateY(24deg);
  }
}

.dark-root[dir='ltr'] {
  .card {
    &::after {
      box-shadow:
        1px 1px 0 0 rgb(225, 225, 225),
        2px 2px 0 0 rgb(220, 220, 220),
        3px 3px 0 0 rgb(215, 215, 215),
        4px 4px 0 0 rgb(210, 210, 210),
        5px 5px 0 0 rgb(205, 205, 205),
        6px 6px 0 0 rgb(200, 200, 200),
        0 0 2px 0 rgb(0, 0, 0),
        6px 6px 5px 0 rgb(240, 240, 240);
    }
  }
}

.dark-root[dir='rtl'] {
  .card {
    &::after {
      box-shadow:
        -1px 1px 0 0 rgb(225, 225, 225),
        -2px 2px 0 0 rgb(220, 220, 220),
        -3px 3px 0 0 rgb(215, 215, 215),
        -4px 4px 0 0 rgb(210, 210, 210),
        -5px 5px 0 0 rgb(205, 205, 205),
        -6px 6px 0 0 rgb(200, 200, 200),
        0 0 2px 0 rgb(0, 0, 0),
        -6px 6px 5px 0 rgb(240, 240, 240);
    }
  }
}

// observe animation
.enter-content {
  transform: translateX(0);
  opacity: 1;
}

.project {
  .hide-left {
    transform: translateX(200px);
    opacity: 0;
  }

  .hide-right {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.project {
  .hide-left {
    transform: translateX(-200px);
    opacity: 0;
  }

  .hide-right {
    transform: translateX(200px);
    opacity: 0;
  }
}